__pycache__/
*.py[cod]
*.db
*.sqlite3
.env
.venv/
venv/

fitness_flutter/.dart_tool/
fitness_flutter/build/
fitness_flutter/.flutter-plugins
fitness_flutter/.flutter-plugins-dependencies
fitness_flutter/.packages
fitness_flutter/android/.gradle/
fitness_flutter/android/local.properties

.DS_Store
Thumbs.db
